.body{
    background-image: url("assest/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.enter{
    text-align: center;
    margin-top: 100px;
    text-decoration-line: underline;
    color: rgb(1, 1, 37);
    line-height: 60px;
}
.enter p{
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    line-height: 20px;
}
.enter button{
    background-color: rgb(1, 1, 41);
    text-decoration: none;
    color: white;
    outline: none;
    padding: 20px 60px;
    border: none;
    font-weight: bold;
}
.enter a button{
    text-decoration: none;
    color: aliceblue;
    cursor: pointer;
}
.enter button:hover{
    background-color: rgb(70, 3, 8);
    border-radius: 40px;
}


/* Question# 4 display to user output visible */
.dice{
    background-color: rgb(149, 122, 175);
    text-align: center;
    margin-top: 10%;
    color: rgb(58, 4, 71);
    font-size: 25px;
}
.dice button{
    padding: 10px 50px;
    border: none;
    border-radius: 20px;
    background-color: rgb(45, 2, 85);
    color: white;
    font-weight: bold;
}
.dice h3{
    color: rgb(16, 1, 29);
}